body {
  background-color: #e74c3c;
  animation: bg_color 10s infinite;
  -webkit-animation: bg_color 1s infinite;
}
@-webkit-keyframes bg_color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}
@keyframes bg_color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

img.biere{
  margin-left:23%;
  width: 1000px;
  height: 1000px;
}
